[project]
	description = a simple ram fs implementation on linux VFS
[access "refs/*"]
	owner = group user/Ma Yunfei (yunfei-ma)
[access "refs/for/refs/*"]
	read = group user/Ma Yunfei (yunfei-ma)
	push = group user/Ma Yunfei (yunfei-ma)
	label-Code-Review = -2..+2 group user/Ma Yunfei (yunfei-ma)
	label-Verified = -1..+1 group user/Ma Yunfei (yunfei-ma)
	rebase = group user/Ma Yunfei (yunfei-ma)
	removeReviewer = group user/Ma Yunfei (yunfei-ma)
	submit = group user/Ma Yunfei (yunfei-ma)
[access "refs/heads/*"]
	read = group user/Ma Yunfei (yunfei-ma)
	create = group user/Ma Yunfei (yunfei-ma)
	push = +force group user/Ma Yunfei (yunfei-ma)
	pushMerge = group user/Ma Yunfei (yunfei-ma)
[access "refs/tags/*"]
	push = +force group user/Ma Yunfei (yunfei-ma)
	pushTag = group user/Ma Yunfei (yunfei-ma)
	pushSignedTag = group user/Ma Yunfei (yunfei-ma)
